body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
 }

body {
  background: #FFFFFF !important;
  min-height: 100vh;
  display: flex;
  font-size: 1.5em !important;
  font-weight: 400 !important;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: 80px;
}
.page{
 width: 100%;
  margin: auto;
  background: #F8F8F8;
  
  padding: 40px 55px 45px 55px;
  
  transition: all .3s;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.colorlib-about {
  padding-top: 2em;
  padding-bottom: 2em;
  clear: both;
  width: 100%;
  display: block; }

  .colorlib-heading {
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative; }
    .colorlib-heading span {
      display: block; }
    @media screen and (max-width: 768px) {
      .colorlib-heading {
        margin-bottom: 3em; } }
  
  .heading-meta {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px; }

    .timeline-centered {
      position: relative;
      margin-bottom: 30px; }
    
    .timeline-centered:before, .timeline-centered:after {
      content: " ";
      display: table; }
    
    .timeline-centered:after {
      clear: both; }
    
    .timeline-centered:before, .timeline-centered:after {
      content: " ";
      display: table; }
    
    .timeline-centered:after {
      clear: both; }
    
    .timeline-centered:before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      background: #f2f3f7;
      top: 20px;
      bottom: 20px;
      margin-left: 29px; }
    
    .timeline-centered .timeline-entry {
      position: relative;
      margin-top: 5px;
      margin-left: 30px;
      margin-bottom: 10px;
      clear: both; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner {
      position: relative;
      margin-left: -20px; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
      display: block;
      width: 40px;
      height: 40px;
      background: #2c98f0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      -moz-box-shadow: 0 0 0 5px #f2f3f7;
      -webkit-box-shadow: 0 0 0 5px #f2f3f7;
      box-shadow: 0 0 0 5px #f2f3f7;
      line-height: 40px;
      float: left; }
      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
        color: #fff; }
      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
        background: #ec5453; }
      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
        background: #f9bf3f; }
      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
        background: #a84cb8; }
      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
        background: #2fa499; }
      .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
        background: #fff;
        width: 20px;
        height: 20px;
        margin-left: 10px; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
      position: relative;
      background: #f2f3f7;
      padding: 1.5em;
      margin-left: 60px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 9px 9px 0;
      border-color: transparent #f2f3f7 transparent transparent;
      left: 0;
      top: 10px;
      margin-left: -9px; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
      margin-top: 15px; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
      font-size: 20px;
      font-family: "Quicksand", Arial, sans-serif;
      font-weight: 500; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
      color: #000; }
    
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
      -webkit-opacity: .4;
      -moz-opacity: .4;
      opacity: .4;
      -ms-filter: alpha(opacity=40);
      filter: alpha(opacity=40);
      font-size: 16px; 
    }

      .myConatiner{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
      }

      .fill-form{
        
        width: 30%;
        height: 80%;
        margin-top: 5%;
        margin-left: 40%;
        position: relative;
        background-color: white;
        overflow: auto;
        padding: 2px;
        /*-webkit-box-shadow: 0 10px 10px 10px black;
        -moz-box-shadow: 0 10px 10px 10px black;
        box-shadow: 0 10px 10px 10px black;*/
        opacity: 1;
        border-radius: 5px;
      }
      .myDialog{
        width: 30%;
        height: 50px;
        margin-top: 15%;
        margin-left: 40%;
        position: relative;
        background-color: white;
        padding: 2px;
        border-radius: 5px;
        z-index: 10000;
      }
      .fill-parent{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9999;
        top: 0;
        background: rgba(0, 0, 0, 0.5);;
      }

      /*.entry-form{
        width: 100%;
        height: 90%;
      }*/

      /*.entry-form input[type="text"]{
        width: 50%;
        height: 30px;
        border-radius: 10px;
        margin-left: 10px;
        border: black 0.3px solid;
        margin-top:3px;
        padding-left: 10px;
      }*/

      .entry-form input[type="reset"]{
       
        border-radius: 5px;
        background:#C10015;
        color:white
      }

      .entry-form input[type="submit"]{
       margin-left: 10px;
        border-radius: 5px;
        background:#007CB0;
        color:white;
      }

      .actions{
        float: right;
      }

      .close{
        top:1px;
        float: right;
      }

      .login-container { 
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        text-align:center; 
        font:12px/normal Arial, Tahoma; 
        background: url('/img/Classroom.jpg') no-repeat;
        background-size: cover;
        }

      .vacenter { 
  
        width: 100%;
        height: 100%;
       
        background-color: rgba(15, 176, 0, 0.6);
        background-size: cover;
        position: absolute;
        overflow: hidden;
        }

        .myContent { 
          margin: 0 auto; 
          padding: 1px; 
          text-align: left; 
          width: 350px; 
          background-color: rgba(029,029,029, 0.7);
          opacity: 1;
          border-radius: 5px;
          }

      .myAuth{
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
      }

      .appName{
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 35px;
        margin-top: 10%;
      }

      .myLogin { overflow: hidden; padding: 1px; }
      .myContent p { margin: 0; padding: 2px 20px; color: #fff; }
      .tips_wrap { height: 24px; margin: 5px 0; padding: 0 20px;color: #c00; }
      .myDrawer{
          position: absolute;
          width: 200px;
          height: 100%;
          background-color: whitesmoke;
          float: left;
          margin: none;
          border-right: 1px solid #ddd
      }
      .user-profile{
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
      }

      .user-profile span{
        margin-left: 5px;
      }

      .menu-list{
        width: 100%;
        height: calc(100% - 150px);
        margin-top: 150px;
        overflow: auto;
      }

      .list-menu-item{
        width: 100%;
        border-bottom: solid 1px #ddd;
      }

      .list-menu-item:hover{
        background-color: rgba(78, 79, 84, 0.522);
      }

      .list-menu-item span{
        margin-top: -30px;
      
        float: left;
        margin-left: 40px;
        font-size: small;
      }

      .content-wrapper{
        background-color: white;
      }
      .container-page{
          position: absolute;
          width: calc(100% - 200px);
          height: 100%;
          float: left;
          margin-left: 200px;
        }

      #topic{
        height:50%;
        width:100%;
        background: url("/img/back4.jpg") no-repeat;
        background-size: cover;
        background-position: bottom;
        float: left;
        left: 0;
        top: 65px;
        position: absolute;
      }

      .clickable{
        cursor: pointer;
      }

      .myMenu{
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 80%;
      }
      
      .myIcon{
        width:24px;
        height:24px;
        float: left;
      }

      .myToolbar{
        width: 100%;
        height: 60px;
        padding: 5px;
        background-color:#3a8eb3;
        position: absolute;
        float: left;
        color: white;
        
      }

      .myToolbar h3{
        text-align: center;
        top: -30px;
        position: relative;
        margin-left: 41px;
      }

      .course-card{
        color: black;
        width:225px;
        height:270px;
        overflow: auto;
        margin-top:27%;
        background-color:transparent;
        position: relative;
        float: left;
        margin-left: 20px;
        cursor: pointer;
        padding: 10px;
      }
      .course-body{
        color: black;
        
        height:auto;
        overflow: hidden;
        margin-top:30%;
        background-color:transparent;
     
      }
      .course-card:hover, .myMenu:hover{
        background-color: rgba(110, 107, 107, 0.4);
      }

      .myAvatar{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding: 15px;
        padding-left: 17px;
        top: 2%;
        margin-bottom: 10px;
        position: relative;
      }

      .bg-light-blue-10{
        background-color: #01579b;
      }

      .bg-light-blue-14{
        height: 100%;
        margin-top: -10px;
        background-color: #0091ea;
      }
      

  
